<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tech Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">Tech Blog</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
        </header>
        <main>
            {{{body}}}
        </main>
        <script src="/js/index.js" async defer></script>
    </body>
</html>